<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>		
		<add name="Connect" connectionString="data source=25.42.67.177;initial catalog=MyTest;User Id = Stepa195; Password = 195;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>